@use 'variables.scss' as var;

// preferr dark mode
@use '*/bulma/bulma.sass' with ($black: var.$primary-600,
    $black-bis: var.$primary-500,
    $black-ter: var.$primary-400,
    $grey-darker: var.$primary-300,
    $grey-dark: var.$primary-200,
    $grey: var.$primary-100,
    $grey-light: var.$surface-600,
    $grey-lighter: var.$surface-500,
    $grey-lightest: var.$surface-400,
    $white-ter: var.$surface-300,
    $white-bis: var.$surface-200,
    $white: var.$surface-100);