/** SCSS DARK THEME PRIMARY COLORS */
$primary-100: #e1e1e3;
$primary-200: #e4e4e6;
$primary-300: #e8e8e9;
$primary-400: #ebebec;
$primary-500: #eeeeef;
$primary-600: #f2f2f2;
/** SCSS DARK THEME SURFACE COLORS */
$surface-100: #2e2d2d;
$surface-200: #424141;
$surface-300: #575656;
$surface-400: #6d6c6c;
$surface-500: #848383;
$surface-600: #9b9a9a;
/** SCSS DARK THEME MIXED SURFACE COLORS */
$surface-mixed-100: #3b3b60;
$surface-mixed-200: #4f4e70;
$surface-mixed-300: #636281;
$surface-mixed-400: #787792;
$surface-mixed-500: #8e8ca4;
$surface-mixed-600: #a3a2b5;
/** EXAMPLES */
